<div class="status">
  <% @lines.each do |line| %>
    <%= content_tag_for(:div, line, class: ["type-#{line.line_type.gsub('way', '')}"]) do %>
      <span class="icons">
        <i class="<%= line.line_type %> symbole"></i>
        <i class="<%= "#{line.line_type} ligne#{line.name}" %>"></i>
      </span>
      <% if line.ongoing_outage.nil? %>
        <div class="details normal">
          <%= fa_icon "circle", class: "normal" %>
          <span class="description">
            Trafic normal
          </span>
        </div>
      <% else %>
        <div class="details outage">
          <%= fa_icon "exclamation-triangle", class: "outage" %>
          <span class="beginning"><%= line.ongoing_outage.started_at.to_formatted_s(:time) %></span>
          <%= fa_icon "long-arrow-right" %>
          <span class="description">
            <%= outage_description line.ongoing_outage %>
          </span>
        </div>
      <% end %>
      <%= render "uptime_block", outages: @outages[line.id], percentages: @uptime_percentages[line.id], counts: @outage_counts[line.id] %>
    <% end %>
  <% end %>
<div>
