<div class="status">
  <% @lines.each do |line| %>
    <%= content_tag_for(:div, line, class: ["type-#{line.line_type.gsub('way', '')}"]) do %>
      <i class="<%= "#{line.line_type.gsub('way', '')}" %> symbole"></i>
      <i class="<%= "#{line.line_type.gsub('way', '')} ligne#{line.name.gsub('T', '')}" %>"></i>
      <% if line.ongoing_outage.nil? %>
        <div class="details normal">
          Trafic normal
        </div>
      <% else %>
        <div class="details outage">
          <span class="beginning"><%= line.ongoing_outage.started_at %></span>
          <span class="description"><%= line.ongoing_outage.description %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
<div>
